dash==0.35.1
dash-bootstrap-components==0.3.2
dash-core-components==0.41.0
dash-dangerously-set-inner-html==0.0.2
dash-daq==0.1.4
dash-html-components==0.13.4
dash-renderer==0.13.0
dash-table==3.1.11
dash-table-experiments==0.6.0
Flask==1.0.2
Flask-Caching==1.4.0
Flask-Compress==1.4.0
future==0.17.1
gast==0.2.2
grasia-dash-components==0.3.4
grpcio==1.20.0
h5py==2.9.0
hachoir==3.0a5
idna==2.8
imageio==2.5.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
matplotlib==3.0.2
numpy==1.16.1
Pillow==8.1.1
plotly==3.4.2
pywin32==224
pywin32-ctypes==0.2.0
requests==2.21.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
win10toast==0.9
pyttsx3
opencv-python
